<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>TV Show Successfully Submit</title>
	<link rel="stylesheet" href="/style.css">

</head>

<body>
	<h1>Tv Show Successfully Input!!</h1>
        The tv show you input was : <%- name %> <br>
        Would you like to add <a href="/tvshowInput">another tv show</a> or get your <a href="/getTV"> TV show information now</a>
	<hr>
	<a href="/">HOME</a>
</body>

</html>

