<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Trending Movie Details!</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Here's a Randomly Selected TOP Trending Movie!</h1>

    <% if (movieTable.length > 0) { %>
        <div>
            <% const randomIndex = Math.floor(Math.random() * movieTable.length); %>
            <h2><%= movieTable[randomIndex].title %></h2>
            <p><strong>Release Date:</strong> <%= movieTable[randomIndex].release_date %></p>
            <p><strong>Overview:</strong> <%= movieTable[randomIndex].overview %></p>
            <!-- Add more details as needed -->
            <img src="https://image.tmdb.org/t/p/w500/<%= movieTable[randomIndex].poster_path %>" alt="Movie Poster">
        </div>
    <% } else { %>
        <p>No trending movie details available.</p>
    <% } %>
</body>

<a href="/">HOME</a>

</html>


