<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Recomendations</title>
	<link rel="stylesheet" href="/style.css">

</head>

<body>
	<h1>THE MOVIE AND TV SHOW GURU</h1>
    <h4>We will give you information about your favorite movies and TV shows! </h4>
    <a href="/movieInput">I want information about my favorite movie</a><br>
    <a href="/tvshowInput">I want information about my favorite TV show</a>

	<h2>Need something new to watch? </h2> 
	<a href="/getTrending">Movie Recommendations</a> <br><br>
	<hr>

	Clear Movie Database <a href="/remove">Remove All Media</a><br>


</body>

</html>
