<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removal</title>
	<link rel="stylesheet" href="/style.css">

</head>

<body>
	<h1>Remove All TV shows and Movies</h1>
	<form action="<%- port %>" method="post">
        <input type="submit" value="Remove all TV shows and Movies" name="submit"/>
	</form>
    

    <hr>
	<a href="/">HOME</a>

    <script>

        window.onsubmit = () => confirm("Are you sure you want to remove all TV shows and Movies?");

    </script>
</body>

</html>