<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
	<link rel="stylesheet" href="/style.css">
</head>

	<body>
		<h1>We've removed all your TV shows and Movies!</h1>

		<div>
        	<p>All TV shows and Movies have been removed from the database. </p>
			<a href="/">HOME</a>
		</div>

	</body>

</html>